RewriteEngine On

RewriteRule ^welcome view/index.php

RewriteRule ^login Routs/Routlogin.php

RewriteRule ^register Routs/RoutRegister.php

RewriteRule ^dashboard Routs/RoutDashboard.php

RewriteRule ^ResetMessage Routs/RoutResetMessage.php

RewriteRule ^MyMenu Routs/RoutMenu.php

RewriteRule ^Setting Routs/RoutSettings.php

RewriteRule ^Income Routs/RoutIncome.php

RewriteRule ^details Routs/RoutDetails.php

RewriteRule ^suppression/([0-9]+)$ Routs/delete.php?valeur=$1 [L]

RewriteRule ^choix/([0-9a-zA-Z_-]+) Routs/choix.php?valeur=$1 [L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ Routs/erreur.php [L]

